/* 리뷰 목록  */
.userlike_containter {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  color: #fff;
}

.userlike_items {
  margin-bottom: 24px;
  display: flex;
  /*
   flex-wrap
   요소들이 강제로 한줄에 배치되게 할 것인지,
   또는 가능한 영역 내에서 벗어나지 않고
   여러행으로 나누어 표현 할 것인지 결정하는 속성 */
  flex-wrap: wrap;
  border-radius: 10px;
  position: relative;
  margin-left: 30px;
}

/* 리뷰 객체 (하나) */
.userlike_wrap {
  position: relative;
  width: 240px;
  height: 290px;

  display: flex;
  margin: 1.2rem;
  border: 2px solid #1e1f23;
  border-radius: 10px;
  background: #2a2b2f;
  transition: 0.6s;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.userlike_wrap:hover {
  border: 1px solid #fff;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.userlike_card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #fff;
  font-weight: 900;
  padding: 0 5px;
  margin-top: 5px;
}

.userlike_cover {
  border: 1px solid #fff;
  display: block;
  width: 140px;
  height: 160px;
  object-fit: fill;
  margin: 0 auto;
}

.userlike_name {
  font-size: 15px;
  margin-top: 10px;
  max-height: 22px;
  overflow: hidden;
}

.userlike_publisher {
  font-size: 11px;
  color: #9e9e99;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.userlike_category {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
  color: #2d91fc;
  margin-left: 5px;
}
.userlike_rate_text {
  margin-left: 7px;
}
