.sign_up_form {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}

.ant-card {
  font-size: 17px;
  font-weight: 100;
  border-radius: 5px;
  border: 3px solid #222949;
  background-color: #232427;
  margin-top: 60px;
  padding: 10px 10px;
  box-shadow: 40px 40px 18px black;
  width: 600px;
}
.ant-card-head-title {
  color: white;
  font-size: large;
  font-weight: bold;
}
.ant-card-body {
  padding-right: 22%;
  margin-top: 25px;
  font-size: 15px;
}

.ant-btn {
  border-radius: 2px;
  border: 2px solid #007aff;
  cursor: pointer;
  color: #fff;
  transition: 0.8s;
  height: 45px;
  width: 100%;
  margin: 20px 0;
  background: none;
  align-items: center;
  display: flex;
  justify-content: center;
  outline: none;
}

.ant-btn:hover {
  background-color: #007aff;
  cursor: pointer;
  border-radius: 60px;
  outline: none;
  border: none;
}

.from_input_login {
  text-align: center;
  color: white;
  text-decoration: none;
}

.from_input_login a {
  text-decoration: none;
  color: #007aff;
}

.from_input_login hr {
  margin-bottom: 20px;
}
